DEBUG=True
MODEL_ENV=dev
DJANGO_VITE_DEV=true
DJANGO_VITE_DEV_SERVER_HOST=localhost
DJANGO_VITE_DEV_SERVER_PORT=5173
DJANGO_VITE_DEV_SERVER_PROTOCOL=http
TRANSCRIPTION_MAX_CONCURRENT_CHUNKS=2
TRANSCRIPTION_MODEL=gpt-transcribe
SUMMARY_MODEL=gpt-4.1-mini
TAGGING_MODEL=gpt-4.1-mini
