DEBUG=False
MODEL_ENV=prod
DJANGO_VITE_DEV=false
TRANSCRIPTION_MAX_CONCURRENT_CHUNKS=8
DJANGO_LOG_DIR=/var/log/missourai
TRANSCRIPTION_MODEL=gpt-transcribe
SUMMARY_MODEL=gpt-4.1-mini
TAGGING_MODEL=gpt-4.1-mini
