version: "3.9"
services:
  web:
    build: .
    ports: ["8000:8000"]
    env_file: .env
    environment:
      DJANGO_VITE_DEV: "false"
      MODEL_ENV: "prod"
      DEBUG: "False"
    volumes:
      - ./missourai_django/db.sqlite3:/app/missourai_django/db.sqlite3
      - ./missourai_django/media:/app/missourai_django/media
