version: "3.9"
services:
  web:
    build: .
    env_file: .env
    environment:
      DJANGO_VITE_DEV: "false"
      MODEL_ENV: "prod"
      DEBUG: "False"
    expose:
      - "8000"
    volumes:
      - ./missourai_django/db.sqlite3:/app/missourai_django/db.sqlite3
      - ./missourai_django/media:/app/missourai_django/media

  nginx:
    image: nginx:1.27-alpine
    depends_on:
      - web
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/www/certbot

  certbot:
    image: certbot/certbot:latest
    volumes:
      - certbot-etc:/etc/letsencrypt
      - certbot-var:/var/www/certbot
    entrypoint: /bin/sh -c
    command: >
      "trap exit TERM;
      while :; do
        certbot renew --webroot -w /var/www/certbot;
        sleep 12h & wait $${!};
      done"

volumes:
  certbot-etc:
  certbot-var:
